<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="main.css" />
  <title>The Monster Slayer</title>
</head>
<body>
<div id="app" class="container">
  <header>
    <h1>{{ gameTitle }}</h1>
  </header>

  <section class="game-board">
    <article class="player">
      <h2>You</h2>
      <div class="healthbar__container">
        <div
            class="healthbar__bar"
            :style="getHealthBarStyles(playerHealth)"
        >
          <div class="healthbar__label">{{ playerHealth }}</div>
        </div>
      </div>
    </article>
    <article class="monster">
      <h2>Monster</h2>
      <div class="healthbar__container">
        <div
            class="healthbar__bar"
            :style="getHealthBarStyles(monsterHealth)"
        >
          <div class="healthbar__label">{{ monsterHealth }}</div>
        </div>
      </div>
    </article>
  </section>

  <section class="game-options">
    <article v-if="!isGameStarted">
      <button
          type="button"
          role="button"
          class="btn"
          @click="toggleGameStarted"
      >
        Start new game
      </button>
    </article>
    <article v-else>
      <button
          type="button"
          role="button"
          class="btn"
          @click="nextTurn('normal')"
          :disabled="isGameOver"
      >
        Attack!
      </button>
      <button
          type="button"
          role="button"
          class="btn"
          @click="nextTurn('special')"
          :disabled="specialAttackCooldown > 0 || isGameOver"
      >
        Special Attack!!
        <span v-if="specialAttackCooldown > 0"
        >({{ specialAttackCooldown}})</span
        >
      </button>
      <button
          type="button"
          role="button"
          class="btn"
          @click="nextTurn('heal')"
          :disabled="isGameOver"
      >
        Heal
      </button>
      <button
          type="button"
          role="button"
          class="btn"
          @click="toggleGameStarted"
      >
        <span v-if="!isGameOver">Run!</span>
        <span v-else>Restart Game</span>
      </button>
    </article>
  </section>

  <section id="game-log--board">
    <fieldset>
      <legend>Game Log</legend>
      <div>
        <p v-if="gameLog.length === 0" class="game-log--empty">empty</p>
        <p
            v-else
            v-for="{ id, timestamp, content } in gameLog"
            class="game-log"
        >
          [ {{ timestamp }} ] {{ content }}
        </p>
      </div>
    </fieldset>
  </section>
</div>

<script src="http://unpkg.com/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
