body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.game-board {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem;
}

.game-options {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
  height: 30px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.btn {
  background: lightgreen;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5%;
  box-shadow: 0 2px 2px #aaa;
  cursor: pointer;
}

.btn:hover {
  background: #87dd87;
}

.btn:active {
  background: #75c675;
  box-shadow: none;
}

/* Healthbar */
.healthbar__container {
  position: relative;
  background: #eee;
  height: 1rem;
  border: 1px solid #ccc;
  width: 300px;
  text-align: center;
}

.healthbar__bar {
  height: 100%;
  background: green;
}

.healthbar__label {
  position: absolute;
  right: 0;
  left: 0;
  /*color: #fff;*/
  font-size: 0.8rem;
  font-weight: 700;
}

button[disabled],
button[disabled]:focus,
button[disabled]:hover {
  background: #eee;
  cursor: not-allowed;
}

/* Game Log */
#game-log--board fieldset {
  height: 300px;
  border: 1px solid #ccc;
}

#game-log--board div {
  height: 92%;
  border: 1px solid #ccc;
  padding: 0 0.5rem;
  overflow: auto;
}

.game-log {
  margin: 0.3rem 0;
  background: lightblue;
}

.game-log.player {
  background: lightgreen;
}

.game-log.monster {
  background: lightcoral;
}

.game-log--empty {
  color: #777;
}
